@import "tailwindcss";

@font-face {
    font-family: "LINESeedSansTH_W_Rg";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/LINESeedSansTH_W_Rg.woff2") format("woff2");
}

@theme {
  --font-line: "LINESeedSansTH_W_Rg", "sans-serif";
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(200%);
    }
}