@import "tailwindcss";

@font-face {
    font-family: "LINESeedSansTH_W_Rg";
    src: url("/fonts/LINESeedSansTH_W_Rg.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
